body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.app {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

button {
  background: #22c55e;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 12px;
  cursor: pointer;
  margin: 5px;
  font-size: 15px;
}

button:hover {
  opacity: 0.9;
}

.logout {
  background: #ef4444;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  background: #334155;
  color: white;
  font-size: 15px;
  box-sizing: border-box;
}

.stats {
  display: flex;
  gap: 30px;
  font-size: 20px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 15px;
  background: #334155;
  padding: 10px;
  border-radius: 10px;
  list-style: none;
}